[Unit]
Description=Flood with rTorrent
After=gluetun.service
Wants=gluetun.service
BindsTo=gluetun.service

[Container]
Image=docker.io/jesec/rtorrent-flood:latest
AutoUpdate=registry
ContainerName=flood-rtorrent
HostName=flood-rtorrent
Network=container:gluetun
User=1010:1003

# Managed rTorrent is handled by the image.
# We set the port and allowed path.
Exec=--rtorrent --port 8080 --allowed-path /downloads

Environment=HOME=/data

Volume=/var/opt/flood-rtorrent/config:/data:Z
Volume=/var/server_storage/downloads:/downloads:z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
