[Unit]
Description=Flood with rTorrent
After=gluetun.service
Wants=gluetun.service
BindsTo=gluetun.service

[Container]
Image=ghcr.io/jesec/flood:latest
AutoUpdate=registry
ContainerName=flood-rtorrent
Network=container:gluetun

# Flood can manage rTorrent
Exec=--rtorrent

Environment=PUID=1010
Environment=PGID=1003
Environment=FLOOD_OPTION_PORT=8080

Volume=/var/opt/flood-rtorrent/config:/data:Z
Volume=/var/server_storage/downloads:/downloads:z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
