[Unit]
Description=fsqd
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/chuckborris33/fsqd:latest
AutoUpdate=registry
ContainerName=fsqd
PublishPort=8092:8080
Environment=HOST=0.0.0.0
User=1008:1003
Environment=PORT=8080
Environment=DOWNLOAD_DIR=/downloads
Environment=CACHE_DIR=/cache
# Reduce memory footprint
Environment=MALLOC_TRIM_THRESHOLD_=100000
Volume=/var/server_storage/downloads:/downloads:z
Volume=/var/opt/fsqd/cache:/cache:Z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target