# /etc/containers/systemd/pinchflat.container
#
# This Quadlet file runs PinchFlat as a systemd service.

[Unit]
Description=PinchFlat Downloader
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/kieraneglin/pinchflat:latest
ContainerName=pinchflat
User=1006:1003
PublishPort=127.0.0.1:8945:8945

# Volume for persistent configuration
Volume=/var/opt/pinchflat/config:/config:Z

# Volume for downloads
Volume=/var/server_storage/downloads:/downloads:Z

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
