[Unit]
Description=qBittorrent Daemon
After=gluetun.service
Wants=gluetun.service

[Container]
Image=lscr.io/linuxserver/qbittorrent:latest
AutoUpdate=registry
ContainerName=qbittorrent
Network=container:gluetun

Environment=PUID=1010
Environment=PGID=1003
Environment=UMASK_SET=022
Environment=WEBUI_PORT=8080
Environment=DOCKER_MODS=ghcr.io/vuetorrent/vuetorrent-lsio-mod:latest

Volume=/var/opt/qbittorrent/config:/config:Z
Volume=/var/server_storage/downloads:/downloads:z

[Service]
Restart=on-failure
ExecCondition=/var/opt/scripts/wait-for-vpn.sh

[Install]
WantedBy=multi-user.target
