[Unit]
Description=Samba Server
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/dockurr/samba:latest
User=1007:1003
ContainerName=samba
PublishPort=445:445
Environment=USER=samba
Environment=PASS=samba
Environment=UID=1007
Environment=GID=1003
Volume=/var/server_storage:/storage:z
[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
