
theme = "ayu_mirage"

[editor]
bufferline = "always"
line-number = "relative"

[editor.cursor-shape] 
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
center = ["version-control"]

[keys.insert]
"A-x" = "normal_mode"     # Maps Alt-X to enter normal mode
j = { k = "normal_mode" } # Maps `jk` to exit insert mode
